<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Five_in_A_Row.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Five_in_A_Row.Properties.Settings>
            <setting name="BoradColor" serializeAs="String">
                <value>0, 91, 214, 249</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Five_in_A_Row.Properties.Settings>
    </userSettings>
</configuration>